<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMTrip - Travel Credit Line + Forex Cards - Initiative by TaxManager</title>
    <!--favicon-->
    <link rel="icon" type="image/png" href="/images/favicon.svg" />
    <!-- Style File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sylesheet.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- google Font -->
    <link rel="stylesheet" href="/font/google.font.css">
    <!-- Font Awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Owl Carousel-->
    <!-- Owl Carousel-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
</head>

<body>
    <!-- Header Code-->
    <header>
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img src="/images/Tm-logo.png" alt="TM Trip logo">
                    </a>
                </div>

                <!-- Nav Section -->
                <nav>
                    <div class="menusectare">
                       <ul>
                            <li><a href="/flights.html">Book a Flight</a></li>
                            <li><a href="travelloan.html">Travel Loan</a></li>
                            <li><a href="forex.html">Forex Card</a></li>
                            <li><a href="holidaypackages.html">Holiday Packages</a></li>
                        </ul>
                        <div class="supnabar">
                            <h4>Support </h4>
                            <ul>
                                <li>
                                    <a href="mailto: Support@CredManager.co">
                                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                        <div class="texspan">
                                            <h5>eMail </h5>
                                            <p> Support@CredManager.co </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+91-8448325701">
                                        <span><i class="fas fa-phone-alt" aria-hidden="true"></i></span>
                                        <div class="texspan">
                                            <h5>Call Us</h5>
                                            <p>+91-8448325701</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://api.whatsapp.com/send?phone=918448076761&amp;text=Hi there ! Hi I am Looking for Loan Expert Assistance">
                                        <span>
                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                        </span>
                                        <div class="texspan">
                                            <h5>Chat With Us</h5>
                                            <p>+91 8448076761</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- User Profile-->
                <div class="userco">

                    <a href="/login.html">
                        <span><img src="/images/user.webp" alt="User login"></span>
                    </a>
                </div>

                <!-- Taggle -->
                <div class="nav-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>

            </div>
        </div>
    </header>

    <!--Log In & SignUp Form-->
    <div class="login-sign-form">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <div class="login-text">
                        <h2>TRAVEL CREDIT LINE <br />& FOREX</h2>
                        <ul>
                            <li><a href="#"><span><img src="/images/Book-Flight-icon.png" alt=""></span>
                                    <p>Book a Flight</p>
                                </a></li>
                            <li><a href="#"><span><img src="/images/Forex-Card-icon.png" alt=""></span>
                                    <p>Forex Card</p>
                                </a></li>
                            <li><a href="#"><span><img src="/images/Travel-Loan-icon.png" alt=""></span>
                                    <p>Travel Loan</p>
                                </a></li>
                            <li><a href="#"><span><img src="/images/Holiday-Packages-icon.png" alt=""></span>
                                    <p>Holiday Packages</p>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-form">
                        <h3>Login || SignUp to TMTrip</h3>
                        <p>For a more Personalised experience, sign in with your registered mobile number</p>
                        <form>
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="number" class="form-control" placeholder="Mobile Number">
                            </div>
                            <button type="submit" class="btn">Login with OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Services-->
    <div class="services comonmarpad">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="services-box">
                        <span><img src="/images/Travel-Loan.png" alt="Travel Loan icon"></span>
                        <h3>Travel Loan</h3>
                        <p>Travel credit line up to ₹5 lac makes international/expensive travel more accessible for
                            middle-income.</p>
                       <a href="/travelloan.html">Apply Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <span><img src="/images/Forex-Card.png" alt="Forex Card icon"></span>
                             <h3>Forex Card</h3>
                        <p>“Multi-Currency Freedom. Minimal Forex Fees. Travel Global. Spend Local — At Lowest Cost.</p>
                       <a href="/forex.html">Get One Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <span><img src="/images/Holiday-Packages.png" alt="Holiday Packages icon"></span>
                       <h3>Holiday Packages</h3>
                        <p>Because your dreams deserve a passport too. Let your family see the world you always dreamed
                            of.</p>
                        <a href="/holidaypackages.html">Design Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer>
        <div class="container">
            <div class="row firstsection">
                <div class="col-md-12 col-lg-2">
                    <div class="footerlogo">
                        <img src="/images/Tm-logo-W.png" alt="Credmanager">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer_menu_Sec">
                        <h4>TMTrip</h4>
                        <ul>
                            <li><a href="/404error.html">About Us</a></li>

                            <li><a href="/comingsoon.html">Support</a></li>
                            <li><a href="/404error.html">Blogs</a></li>

                        </ul>
                    </div>

                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer_menu_Sec">
                        <h4>Group Brands</h4>
                        <ul>
                            <li><a href="https://www.taxmanager.in/tm360/">TaxManager</a></li>
                            <li><a href="http://cfoserve.in/">CFOServe</a></li>
                            <li><a href="https://riseit360.com/">RiseIT360</a></li>
                            <li><a href="https://taxmanager.in/tm360/startup/index">StartupManager</a></li>
                            <li><a href="https://credmanager.in/">CredManager</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer_menu_Sec">
                        <h4>Subscribe</h4>
                        <ul>
                            <li><a href="https://credmanager.in/opting/opt-in">OPT-In</a></li>
                            <li><a href="https://credmanager.in/opting/opt-out">OPT-Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-1">
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer_menu_Sec">
                        <h4>Support</h4>
                        <ul class="support_sec_are">
                            <li>
                                <a href="/Contact">
                                    <span><i class="fa fa-life-ring"></i></span> Need Trip Advice?
                                </a>
                            </li>
                            <li>
                                <a href="tel:+918448325701">
                                    <span><i class="fa fa-phone"></i></span> +91-8448325701
                                </a>
                            </li>
                            <li>
                                <a href="mailto: support@tmtrip.in">
                                    <span><i class="fa fa-envelope"></i></span> support@tmtrip.in
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-footer">
            <div class="container">
                <div class="row secondfooter">
                    <div class="col-md-6 col-lg-2 p-0">
                        <ul>
                            <li><a href="/comingsoon.html">Privacy Policy </a></li>
                            <li><a href="/comingsoon.html">Terms of Use </a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="/comingsoon.html">Legal Disclaimer </a></li>
                            <li><a href="/comingsoon.html">Security </a></li>
                            <li><a href="/comingsoon.html">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="flogsection">

                            <div class="build-with">
                                <span><img src="/images/india-flag.svg" alt="india-flag"></span>
                                <span>Built with Love <br>Made in India</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul class="social-mediased">
                            <li>
                                <h2>Follow us on</h2>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/TMTrip">
                                    <span><i class="fa-brands fa-facebook"></i></span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/tmtripofficial">
                                    <span><i class="fa-brands fa-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <p><span>@Rising Advisory Services Private Limited.</span> All rights reserved</p>
            </div>
        </div>
    </div>


    <!-- Script File -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- Other js -->
    <script src="/js/currencyandcity.js"></script>
    <script src="/js/main.js"></script>


</body>

</html>
